@{
    ViewData["Title"] = "Failure";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/error.css">

<div class="error-message">
    <i class="fas fa-exclamation-triangle"></i>
    <h2 class="text-center text-danger">Your payment failed!</h2>
</div>

