
@{
    ViewData["Title"] = "Success";
    Layout = "_Layout";
}
    <link rel="stylesheet" href="~/css/success.css">

    <div class="success-message">
        <i class="fas fa-check-circle"></i>
        <h2 class="text-center text-success">Your payment was successful!</h2>
    </div>

