@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/select-product.css">

<div class="wrapper">
    <div class="product container">
        <h3>Choose a payment gateway:</h3>
        <form>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Stripe</p>
                    <a href=@Url.Action("Purchase", "Stripe", new { price = ViewBag.Price})>Checkout</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Braintree</p>
                    <a href=@Url.Action("Purchase", "Braintree", new { price = ViewBag.Price})>Checkout</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="card-text">MercadoPago</p>
                    <a href=@Url.Action("Purchase", "MercadoPago", new { price = ViewBag.Price})>Checkout</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="card-text">Pagar.me</p>
                    <a href=@Url.Action("Purchase", "Pagarme", new { price = ViewBag.Price})>Checkout</a>
                </div>
            </div>

            <hr />
        </form>
    </div>
</div>