@model Avatar_API.Data.Model.ProductsModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/select-product.css">

<div class="wrapper">
    <div class="product container">
        <h3>Select your product:</h3>
        <form>

            @foreach (var product in Model.ProductList)
            {
                @await Html.PartialAsync("_Product", product)
            }

            <hr />
        </form>
    </div>
</div>